<div class="bookmarks-wrapper">

  <div class="container">

    <div class="bookmarks-tile-container">

      <bookmark-tile *ngFor="let b of bookMarks" [bookMark]="b"></bookmark-tile>

    </div>

    <div class="btns-container btns-centered">
      <a routerLink="add" class="btn add-btn">
        <i class="material-icons-outlined">add</i>
        Add
      </a>
      <a routerLink="manage" class="btn manage-btn">
        <i class="material-icons-outlined">settings</i>
        Manage
      </a>
    </div>


  </div>
</div>
